
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

body {
    background-color: rgb(192, 0, 0);
    color: #dcc416;
    font-family: 'Science Gothic', Montserrat, Futura, Calibri, sans-serif;
    font-weight: 800;
    text-align: center;
}


#intro {
    animation: intro 4.1s ease-in-out infinite;
}

/* correct keyframes syntax */
@keyframes intro {
    0% {
        transform: translateX(-10px);
        font-weight: 1000;
    }
    50% {
        transform: translateX(0px);
        font-weight: 900;
    }
    100% {
        
        transform: translateX(10px);
        font-weight: 1000;
    }
}

/* fixed image rules */
img {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
    height: auto;
    transition: transform 0.2s ease;
}

img:hover {
    transform: scale(0.95);
    cursor: pointer;
}
button {

   font-family: 'Nunito Sans', Montserrat, Futura, Calibri, sans-serif;
   background-color: #dcc416;
   color:#000000;
   font-weight: 400;
   padding: 10px;
   border-color: #dcc416;
   

}
#navbar {
 a{
     color:#dcc416;

 }
 

}